<!--<mat-card class="card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <h2>{{nombre}}</h2>
            </mat-card-title>
            <img mat-card-xl-image src="{{rutaPortada}}">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{datos}}
    </mat-card-content>
</mat-card>


<div class ="flex-container">
    <mat-card class="example-card">
        <mat-card-title><h2>{{nombre}}</h2></mat-card-title>
      <img mat-card-image src="{{rutaPortada}}">
      <mat-card-content>
        {{datos}}
      </mat-card-content>
    </mat-card>
</div>
-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image1"></div>
          <mat-card-title><h4>{{nombre}}</h4></mat-card-title>
          <mat-card-subtitle>Character</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{rutaPortada}}" height="370px" alt="P">
        <mat-card-content>
          <p>
           {{datos}}
          </p>
        </mat-card-content>
    </mat-card>   