<img
  src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2022/02/drive-survive-2618577.jpg?itok=6UspEGf-"
  style="width:100%">

<div class="principal">
  <h2>Drive to Survive</h2>
  <p>Formula 1: Drive to Survive is a documentary series produced in a collaboration between Netflix and Formula One to
    give a behind-the-scenes look at the drivers and races of the Formula One World Championship.
    <br>
    The first season covering the 2018 World Championship premiered on 8 March 2019, the second season covering the 2019
    World Championship premiered on 28 February 2020, and the third season covering the 2020 World Championship
    premiered on 19 March 2021. A fourth season covering the 2021 World Championship was premiered on 11 March 2022. On
    5 May 2022, the series was renewed for a fifth and a sixth season.
    <br>
    The upcoming fifth season of the series, focusing on the 2022 season, will be released on February 24, 2023,
    prior to the start of the 2023 championship and the opening race, the Bahrain Grand Prix.
  </p>
  <mat-divider></mat-divider>
  <h2>Seasons</h2>
  <p>The upcoming fifth season of the series, focusing on the 2022 season, will be released on February 24, 2023,
    prior to the start of the 2023 championship and the opening race, the Bahrain Grand Prix.</p>

  <ul>
    <li>Season 1: 2018 World Championship</li>
    <p>The ten-part series is the "first to truly immerse the audience inside the cockpits, the paddock and the lives of
      the key players in Formula 1". The series covers the 2018 Formula One World Championship and has "unparalleled and
      exclusive access to the world's fastest drivers, team principals and owners, as well as Formula 1's own management
      team".</p>
    <li>Season 2: 2019 World Championship</li>
    <p>The ten-part series covers the 2019 Formula One World Championship and included every team, including Ferrari and
      Mercedes who had not allowed Netflix to cover their teams in the first season. The second season "revisit
      Daniel Ricciardo at Renault, follow[ed] Pierre Gasly's emotional rollercoaster of a year, and cast a spotlight on
      the Belgian Grand Prix weekend, which was blackened by the death of Formula 2 driver Anthoine Hubert during the
      feature race".</p>
    <li>Season 3: 2020 World Championship</li>
    <p>The third season of the show, covering the 2020 Formula One World Championship, premiered on 19 March 2021 and
      continued some drivers' stories from the previous season, such as Daniel Ricciardo's dissatisfaction at Renault
      and Pierre Gasly's attempts to regain his lost seat at Red Bull. It also covered the effects of the COVID-19
      pandemic on the season, Scuderia Ferrari's struggle to remain competitive following the power unit controversy of
      the previous year, and Romain Grosjean's serious crash at the Bahrain Grand Prix.</p>
    <li>Season 4: 2021 World Championship</li>
    <p>Season 4 which documents the 2021 Formula One World Championship premiered on Netflix on 11 March 2022. This
      season
      documents the fierce title battle of that season between seven-time champion Lewis Hamilton and Dutch driver Max
      Verstappen.</p>
    <li>Season 5: 2022 World Championship</li>
    <p>Season 5 will document the 2022 Formula One World Championship and is set to premiere on February 24, 2023. Red
      Bull driver Max Verstappen confirmed that Season 5 marks his first full appearance in in-show interviews, having
      criticized it in the past for fabricating events that happened during the World Championships.
    </p>
  </ul>
</div>
<!--Coments of people-->
<mat-divider></mat-divider>
<h2>Opinions</h2>
<div class="flex-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>Rodrigo Mena</mat-card-title>
      <mat-card-subtitle>From Twitter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.remediosdigitales.com/19d3cd/drive-to-survive-netflix/1366_2000.jpg"
      height="320px" alt="P">
    <mat-card-content>
      <p>
        What an increidible season, amazing, is increidible that way to see F1, different than the TV.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

  </mat-card>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Carlos Idelfonso</mat-card-title>
      <mat-card-subtitle>From Twitter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.remediosdigitales.com/79ede5/netflix-drive-to-survive/450_1000.jpg"
      height="320px" alt="">
    <mat-card-content>
      <p>
        Great!! #GoMax #SuperMax
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Andrea Delgado</mat-card-title>
      <mat-card-subtitle>From Twitter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://autosdeprimera.com/wp-content/uploads/2023/02/Netflix-Formula-1-Drive-to-survive-5-2.jpg" height="320px"
      alt="">
    <mat-card-content>
      <p>
        How i enjoyed it, increidible, the last season is my favourite!! #Alonso
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image4"></div>
      <mat-card-title>Noelia Otazo</mat-card-title>
      <mat-card-subtitle>From Twitter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://phantom-marca.unidadeditorial.es/138a75c02a6983ac6dd4bd598795e7b2/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/16/16450079868287.jpg" height="320px"
      alt="">
    <mat-card-content>
      <p>
        In my point of view it’s very important the drivers and the action, amazing.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>